svg {
    fill: white;
    transition: 0.3s;
}

svg.right {
    margin: 20px 0px 0px 0px;
}

svg.left {
    margin: 20px 0px 0px 20px;
}

button:disabled > svg {
    fill: #72727d;
}

button:disabled > svg:hover {
    fill: #72727d;
}

svg:hover {
    fill: rgb(239, 84, 102);
}