#app_settings .container {
    max-width: 1200px;
}

#app_settings .account-wrapper {
    background-color: undefined;
    background-color: var(--background-secondary);
    border-radius: 4px;
    -webkit-box-shadow: 0 0 6px rgb(25 25 34 / 16%);
    box-shadow: 0 0 6px rgb(25 25 34 / 16%);
    padding: 24px;
}

#app_settings .account-delete, .account-delete-btn {
    color: undefined;
    color: var(--text-intermediate);
}

#app_settings .account-delete {
    background-color: undefined;
    background-color: var(--background-intermediate);
    font-size: 14px;
    margin: 24px -24px -24px;
    padding: 24px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    #app_settings .css-yvrhrt {
        font-size: var(--tempo-fontSizes-3xl);
        line-height: 1.2;
    }
}

#app_settings .css-yvrhrt {
    font-family: var(--tempo-fonts-heading);
    font-weight: var(--tempo-fontWeights-bold);
    letter-spacing: -0.016em;;
}

#app_settings .css-1bcspgj {
    opacity: 0.6;
    border-width: 0px 0px 1px;
    border-image: initial;
    border-color: inherit;
    border-style: solid;
    width: 100%;
    margin-top: var(--tempo-space-3);
    margin-bottom: var(--tempo-space-4);
}

#app_settings .css-1kxonj9 {
    width: 100%;
    position: relative;
}

#app_settings .css-70qvj9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

#app_settings .css-1gt16kl {
    display: block;
    text-align: start;
    font-size: var(--tempo-fontSizes-sm);
    margin-inline-end: var(--tempo-space-3);
    margin-bottom: 0px;
    font-weight: var(--tempo-fontWeights-medium);
    transition-property: var(--tempo-transition-property-common);
    transition-duration: var(--tempo-transition-duration-normal);
    opacity: 1;
    color: var(--tempo-colors-text-main);
}

#app_settings .css-1g4burd {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 0;
    --switch-track-diff: calc(var(--switch-track-width) - var(--switch-track-height));
    --switch-thumb-x: var(--switch-track-diff);
    --switch-track-width: 1.875rem;
    --switch-track-height: 1rem;
}

#app_settings .css-1967ax6 {
    display: inline-flex;
    flex-shrink: 0;
    -webkit-box-pack: start;
    justify-content: flex-start;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: var(--tempo-radii-full);
    padding: 2px;
    width: var(--switch-track-width);
    height: var(--switch-track-height);
    transition-property: var(--tempo-transition-property-common);
    transition-duration: var(--tempo-transition-duration-fast);
    --switch-bg: var(--tempo-colors-gray-300);
    background: var(--tempo-colors-gray-300);
}

.chakra-ui-dark #app_settings .css-1967ax6:not([data-theme]), 
[data-theme="dark"] #app_settings .css-1967ax6:not([data-theme]), 
.css-1967ax6[data-theme="dark"] #app_settings {
    --switch-bg: var(--tempo-colors-whiteAlpha-400);
    background: var(--tempo-colors-whiteAlpha-400);
}

.chakra-ui-dark #app_settings .css-1967ax6[aria-checked="true"]:not([data-theme]), 
.chakra-ui-dark #app_settings .css-1967ax6[data-checked]:not([data-theme]), 
[data-theme="dark"] #app_settings .css-1967ax6[aria-checked="true"]:not([data-theme]), 
[data-theme="dark"] #app_settings .css-1967ax6[data-checked]:not([data-theme]), 
#app_settings .css-1967ax6[aria-checked="true"][data-theme="dark"], 
#app_settings .css-1967ax6[data-checked][data-theme="dark"] {
    --switch-bg: var(--tempo-colors-primary-200);
    background: var(--tempo-colors-primary-500);
}

#app_settings .css-1wgv1b1 {
    background: white;
    transition-property: transform;
    transition-duration: var(--tempo-transition-duration-normal);
    border-radius: inherit;
    width: var(--switch-track-height);
    height: var(--switch-track-height);
}

#app_settings hr {
    border-top-width: 1px;
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
}