@import "tailwindcss";

@plugin "daisyui" {
    --text-fontFamily: Inter, Arial, sanf-serif;
}

@plugin "daisyui/theme" {
    name: "light-blue";
    color-scheme: light; 

    --color-base-100: rgb(255, 255, 255); /* background */
    --color-base-200: rgb(245, 242, 248); /* modal background */
    --color-base-content: rgb(0, 0, 0); /* content color */
    --color-primary: rgb(0, 0, 0); /* content color */
    --color-secondary: rgb(41, 47, 230); /* accent */
    --color-neutral: rgb(213, 210, 216); /* borders */
}

@plugin "daisyui/theme" {
    name: "dark-blue";
    color-scheme: dark; 

    --color-base-100: rgb(0, 0, 0);
    --color-base-200: rgb(20, 18, 22);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(160, 190, 255);
    --color-neutral: rgb(56, 55, 59);
}

@plugin "daisyui/theme" {
    name: "light-lava";
    color-scheme: light; 

    --color-base-100: rgb(255, 255, 255);
    --color-base-200: rgb(245, 242, 248);
    --color-base-content: rgb(0, 0, 0);
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(190, 0, 0);
    --color-neutral: rgb(213, 210, 216);
}

@plugin "daisyui/theme" {
    name: "dark-lava";
    color-scheme: dark; 

    --color-base-100: rgb(0, 0, 0);
    --color-base-200: rgb(20, 18, 22);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(255, 93, 86);
    --color-neutral: rgb(56, 55, 59);
}

@plugin "daisyui/theme" {
    name: "light-magenta";
    color-scheme: light; 

    --color-base-100: rgb(255, 255, 255);
    --color-base-200: rgb(245, 242, 248);
    --color-base-content: rgb(0, 0, 0);
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(164, 11, 167);
    --color-neutral: rgb(213, 210, 216);
}

@plugin "daisyui/theme" {
    name: "dark-magenta";
    color-scheme: dark; 

    --color-base-100: rgb(0, 0, 0);
    --color-base-200: rgb(20, 18, 22);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(255, 132, 255);
    --color-neutral: rgb(56, 55, 59);
}

@plugin "daisyui/theme" {
    name: "light-orange";
    color-scheme: light; 

    --color-base-100: rgb(255, 255, 255);
    --color-base-200: rgb(245, 242, 248);
    --color-base-content: rgb(0, 0, 0);
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(180, 51, 6);
    --color-neutral: rgb(213, 210, 216);
}

@plugin "daisyui/theme" {
    name: "dark-orange";
    color-scheme: dark; 

    --color-base-100: rgb(0, 0, 0);
    --color-base-200: rgb(20, 18, 22);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(255, 147, 115);
    --color-neutral: rgb(56, 55, 59);
}

@plugin "daisyui/theme" {
    name: "light-purple";
    color-scheme: light; 
    prefersdark: false;
    default: true;

    --color-base-100: rgb(255, 255, 255);
    --color-base-200: rgb(245, 242, 248);
    --color-base-content: rgb(0, 0, 0);
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(138, 34, 222);
    --color-neutral: rgb(213, 210, 216);
}

@plugin "daisyui/theme" {
    name: "dark-purple";
    color-scheme: dark; 
    prefersdark: true;
    default: true;

    --color-base-100: rgb(0, 0, 0);
    --color-base-200: rgb(20, 18, 22);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(187, 115, 255);
    --color-neutral: rgb(56, 55, 59);
}

@plugin "daisyui/theme" {
    name: "dark-acid";
    color-scheme: dark; 

    --color-base-100: rgb(0, 0, 0);
    --color-base-200: rgb(16, 16, 15);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(234, 237, 118);
    --color-neutral: rgb(53, 53, 52);
}

@plugin "daisyui/theme" {
    name: "dark-auroraBlaze";
    color-scheme: dark; 

    --color-base-100: rgb(20, 0, 38);
    --color-base-200: rgb(31, 0, 56);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(255, 118, 78);
    --color-neutral: rgb(61, 5, 97);
}

@plugin "daisyui/theme" {
    name: "light-midnightOrchid";
    color-scheme: light; 

    --color-base-100: rgb(255, 233, 255);
    --color-base-200: rgb(255, 220, 255);
    --color-base-content: rgb(0, 0, 0);
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(172, 0, 175);
    --color-neutral: rgb(251, 207, 246);
}

@plugin "daisyui/theme" {
    name: "dark-midnightOrchid";
    color-scheme: dark; 

    --color-base-100: rgb(31, 0, 31);
    --color-base-200: rgb(44, 4, 44);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(251, 145, 255);
    --color-neutral: rgb(72, 32, 71);
}

@plugin "daisyui/theme" {
    name: "light-vanillaCandy";
    color-scheme: light; 

    --color-base-100: rgb(255, 247, 162);
    --color-base-200: rgb(255, 233, 127);
    --color-base-content: rgb(0, 0, 0);
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(134, 4, 146);
    --color-neutral: rgb(243, 213, 187);
}

@plugin "daisyui/theme" {
    name: "dark-vanillaCandy";
    color-scheme: dark; 

    --color-base-100: rgb(25, 13, 0);
    --color-base-200: rgb(41, 25, 0);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(255, 144, 203);
    --color-neutral: rgb(72, 50, 0);
}

@plugin "daisyui/theme" {
    name: "dark-emeraldEmber";
    color-scheme: dark; 

    --color-base-100: rgb(0, 14, 6);
    --color-base-200: rgb(0, 33, 21);
    --color-base-content: rgb(255, 255, 255);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(255, 148, 156);
    --color-neutral: rgb(0, 62, 43);
}

.alert {
    @apply p-0;
    @apply px-4;
    @apply w-max
}