@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;

    --color-base-100: rgb(255, 255, 255);
    --color-base-200: rgb(245, 242, 248);
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(138, 34, 222);
    --color-neutral: rgb(213, 210, 216);

    --text-fontFamily: Inter, Arial, sanf-serif;
    --text-primary-content: rgb(253, 252, 254);
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;

    --color-base-100: rgb(0, 0, 0);
    --color-base-200: rgb(20, 18, 22);
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(187, 115, 255);
    --color-neutral: rgb(56, 55, 59);

    --text-fontFamily: Inter, Arial, sanf-serif;
    --text-primary-content: rgb(15, 13, 19);
}

.alert {
    @apply p-0;
    @apply px-4;
    @apply w-max
}